<%#app/views/image/show.html.erb %>
<h1><%= @image.title[0] %></h1>
<dl>
  <dt>Title</dt>
  <dd>
    <%= @image.title[0] %>
  </dd>
  <dt>Subject</dt>
  <dd>
    <%= @image.subject[0] %>
  </dd>
  <dt>Format</dt>
  <dd>
    <%= @image.format[0] %>
  <dt>Type</dt>
  <dd>
    <%= @image.type[0] %>
  </dd>
  <dt>Image</dt>
  <dd>
    <%= image_tag("/imagerender/#{@image.id}/showimage", :alt => "Image") %>
  </dd>
</dl>
